.buttons{
    position: absolute;
    top: 14%; /* Ajusta estos valores según sea necesario */
    left: 78%; /* Ajusta estos valores según sea necesario */
    transform: translate(-40%, -50%); /* Centra el contenedor */
    display: flex;
    gap: 0px; /* Espacio entre los botones */
    
}
.buttons .btn{
    border: none;          /* Quitar el borde */
    background: none;      /* Quitar el fondo */
    margin: 0px;             /* Quitar el margen externo */
    box-shadow: none;      /* Quitar la sombra */
    color: inherit;        /* Heredar el color del texto del elemento padre */
    cursor: pointer;       /* Mostrar el cursor de mano */
    outline: none; 
    color: rgb(15, 255, 223);
    font-size: 30px;
    font: 300% jujutsu kaisen;
    font-weight: bolder;
    padding: 50px;
    
}
.separator{
    color:white;
    font-size: 10px;
    padding: 5px;
}
h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: rgb(15, 255, 223);
    font-family: jujutsu kaisen;
    
}