@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta el alto para ocupar toda la pantalla */
    font: 150% jujutsu kaisen; 
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://wallpapers.com/images/hd/inky-black-gojo-satoru-4198hwkn70w1p2nn.jpg");
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
}

.content {
    width: 50%;
    height: auto; /* Cambiado a auto para adaptarse al contenido */
    text-align: center;
    border-radius: 4px;
    background-color: rgba(165, 158, 158, 0);
    padding: 20px;
    position: relative;   
    transform: translateY(-20%);
    transform: translateX(30%);
}

.content header {
    border-radius: 20px 20px 0px 0px;
    height: 70px;
    align-content: center;
    color: rgb(14, 192, 216);
    font-size: 30px;
    font-weight: 100;
}

.content p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

#field {
    justify-content: center;
}

.inputs {
    border: 0.05px solid gray;
    border-radius: 5px;
    max-width: 220px;
}

.redirect {
    border: none;
    font-size: 20px;
    color: rgb(14, 192, 216);
    background: none;
    padding-bottom: 80px;
}

.info-signup {
    margin: 0px;
}

.btn-success {
    color: #fff;
    background-color: #060608;
    border-color: rgb(14, 192, 216);
}

/* Cambiar el color del botón cuando se le da click */
.btn-success:active,
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: rgb(14, 192, 216);
    border-color: rgb(14, 192, 216);
}
.bi {
    color: rgb(15, 149, 202);
}