@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: 150% jujutsu kaisen;
}

.background1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://wallpaper.forfun.com/fetch/eb/eb5bc086754b414e4cf62b1ab94e1d5a.jpeg");
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
}

.contenido {
    width: 50%;
    height: auto; /* Cambiado a auto para adaptarse al contenido */
    text-align: center;
    border-radius: 4px;
    background-color: rgba(165, 158, 158, 0);
    padding: 20px;
    position: relative;   
    transform: translateY(-20%);
    transform: translateX(40%); /* Añadido */
}

.contenido header {
    border-radius: 20px 20px 0px 0px;
    height: 70px;
    align-content: center;
    color: rgb(10, 10, 10);
    font-size: 30px;
    font-weight: 100;
}

.contenido p {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

#field {
    justify-content: center;
}

.inputs {
    border: 0.05px solid gray;
    border-radius: 5px;
    max-width: 220px;
}

.boton {
    margin-top: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 100px solid #1e5791;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bi {
    color: rgb(0, 0, 0);
}